#inputImage {
    max-width: 500px;
    max-height: 600px; 
    opacity: 0.9;
}

.bounding-box {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    cursor: pointer;
}