@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    /* min-height: 100%; */
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    background: linear-gradient(#e66465, #9198e5) no-repeat center center fixed;
}

.App {
    /* height: auto; */
    
}

.center {
    display: flex;
    justify-content: center;
    color: white;
}


.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: '100%',
}

/* .slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	/* transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1); 
}

@keyframes slidein {
    0% {opacity: 0.2; }
    50% {opacity: 0.5 }
    100% {opacity: 1 }
} */